<div class="ice-container">
    <div class="ice-welcome-container">

        <div *ngIf="forgotPasswordPage">
            <h2 class="uk-heading-bullet">{{"forgot-password" | translate}}</h2>

            <p>{{"forgot-password-info" | translate}}</p>

            <div class="uk-width-1-1">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-confirm">{{'email' | translate}}</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" [(ngModel)]="email" id="form-confirm" name="email" type="text" placeholder="{{'email-placeholder' | translate}}">
                    </div>
                </div>

                <div class="uk-text-danger">{{"forgot-password-expires" | translate}}</div>

                <div class="uk-align-right">
                    <button class="uk-button uk-button-primary" (click)="requestToken()">{{'continue' | translate}}</button>
                </div>
                <div class="uk-clearfix"></div>
            </div>
        </div>

        <div *ngIf="!forgotPasswordPage">
            <div class="uk-grid-small ice-welcome-container uk-grid-divider" uk-grid>

                <div class="uk-width-2-3@m">
                    <h2 class="uk-heading-bullet">{{"change-password" | translate}}</h2>
                    <div class="uk-grid-small ice-welcome-container" uk-grid>

                        <div class="uk-width-1-1">
                            <form class="uk-form-stacked">
                                <label class="uk-form-label" for="password-token">{{'confirm-key' | translate}}</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" name="token" id="password-token" [(ngModel)]="token" placeholder="{{'confirm-placeholder' | translate}}">
                                </div>
                            </form>
                        </div>

                        <div class="uk-width-1-2@m">
                            <form class="uk-form-stacked">
                                <label class="uk-form-label" for="form-password">{{'password' | translate}}</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" [(ngModel)]="password" name="password" id="form-password" type="password" placeholder="{{'password-placeholder' | translate}}">
                                </div>
                            </form>
                        </div>


                        <div class="uk-width-1-2@m">
                            <form class="uk-form-stacked">
                                <label class="uk-form-label" for="form-password-confirm">{{'password-confirm' | translate}}</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" [(ngModel)]="passwordConfirm" name="password-confirm"  id="form-password-confirm" type="password" placeholder="{{'password-confirm-placeholder' | translate}}">
                                </div>
                            </form>
                        </div>

                        <div class="uk-width-1-1">
                            <div class="uk-align-right">
                                <input (click)="changePassword()" value="{{'alter' | translate}}" type="button" class="uk-button uk-button-primary">
                            </div>
                            <div class="uk-clearfix"></div>
                        </div>

                    </div>
                </div>

                <div class="uk-width-1-3@m">
                    <ul class="uk-list uk-list-striped">
                        <li>{{"security-tips.1" | translate}}</li>
                        <li>{{"security-tips.2" | translate}}</li>
                        <li>{{"security-tips.3" | translate}}</li>
                        <li>{{"security-tips.4" | translate}}</li>
                        <li>{{"security-tips.5" | translate}}</li>
                        <li>{{"security-tips.6" | translate}}</li>
                        <li>{{"security-tips.7" | translate}}</li>
                        <li>{{"security-tips.8" | translate}}</li>
                        <li>{{"security-tips.9" | translate}}</li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>