<div class="ice-container">
    <div class="ice-welcome-container">
        <h2 class="uk-heading-bullet">{{"registration-activate" | translate}}</h2>

        <dl class="uk-description-list">
            <dt>{{"registration-step.title-1" | translate}}</dt>
            <dd>{{"registration-step.description-1" | translate}}</dd>
            <dt>{{"registration-step.title-2" | translate}}</dt>
            <dd>{{"registration-step.description-2" | translate}}</dd>
            <dt>{{"registration-step.title-3" | translate}}</dt>
            <dd>{{"registration-step.description-3" | translate}}</dd>
            <dt>{{"registration-step.title-4" | translate}}</dt>
            <dd>{{"registration-step.description-4" | translate}}</dd>
        </dl>

        <hr class="uk-divider-icon">

        <div class="uk-width-1-1">

            <div class="uk-margin">
                <label class="uk-form-label" for="form-confirm">{{'confirm-key' | translate}}</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-confirm" type="text" placeholder="{{'confirm-placeholder' | translate}}">
                </div>
            </div>

            <div class="uk-align-right">
                <button class="uk-button uk-button-primary">{{'confirm' | translate}}</button>
            </div>
            <div class="uk-clearfix"></div>
        </div>

    </div>
</div>