<nav class="ice-welcome-nav">

    <div class="ice-container">
        <div class="uk-align-left ice-no-margin-bottom">
            <img src="../../img/welcome/pwdicefenix.png" class="uk-visible@m">
            <a uk-toggle="target: #offcanvas-menu-user" href="" uk-icon="icon: menu; ratio: 1" class="ice-menu-mobile uk-navbar-toggle uk-hidden@m uk-navbar-toggle-icon uk-icon"></a>
        </div>

        <button routerLink="/welcome/register" class="uk-button uk-button-primary uk-align-right ice-no-margin-bottom">{{'register' | translate}}</button>
    </div>

    <div class="uk-clearfix"></div>
</nav>


<div class="ice-main">
    <div class="ice-container">
        <div class="uk-grid-small ice-welcome-container uk-grid-divider" uk-grid>

            <div class="ice-profile-menu uk-width-1-5@m">

                <!-- Início do menu desktop -->
                <div class="uk-visible@m">
                    <user-menu [userLogged]="user"></user-menu>
                </div>
                <!-- Fim do menu desktop -->

                <!-- Início do menu Mobile -->
                <div id="offcanvas-menu-user" class="uk-offcanvas" uk-offcanvas="flip: false; overlay: true">
                    <div class="uk-offcanvas-bar">

                        <button class="uk-offcanvas-close" type="button" uk-close></button>
                        <user-menu [userLogged]="user"></user-menu>

                    </div>
                </div>
                <!-- Fim do menu Mobile -->
            </div>

            <div class="uk-width-4-5@m">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
</div>

<footer></footer>
