<div class="uk-text-center">
    <div class="ice-user-profile-img uk-overlay-hover uk-border-circle">
        <figure class="ice-profile-overlay">
            <img class="uk-border-circle" [src]="getImgeProfile()" alt="">
            <figcaption class="uk-overlay-panel uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center uk-border-circle">
                <div>
                    <a href="#" uk-icon="icon: push" class="uk-icon-button"></a>
                </div>
            </figcaption>
        </figure>
    </div>
    <p class="uk-text-uppercase uk-margin-top-remove uk-text-muted">Ismael Fagundes da Silva</p>
</div>

<ul class="uk-nav-default uk-nav-parent-icon ice-user-side-menu" uk-nav>
    <li class="uk-nav-header">{{"menu" | translate}}</li>
    <li><a routerLink="/user"><span class="uk-margin-small-right" uk-icon="icon: user"></span> {{"profile" | translate}}</a></li>
    <li><a routerLink="/user/message"><span class="uk-margin-small-right" uk-icon="icon: comment"></span> {{"message" | translate}}</a></li>
    <li><a routerLink="/user/laboratory"><span class="uk-margin-small-right" uk-icon="icon: world"></span> {{"laboratory" | translate}}</a></li>
    <li><a routerLink="/user/contact"><span class="uk-margin-small-right" uk-icon="icon: users"></span> {{"contact" | translate}}</a></li>
    <li><a routerLink="/user/certificate"><span class="uk-margin-small-right" uk-icon="icon: star"></span> {{"certificate" | translate}}</a></li>
    <li class="uk-nav-divider"></li>
    <li><a routerLink="/user/deposit"><span class="uk-margin-small-right" uk-icon="icon: plus-circle"></span> {{"deposit" | translate}}</a></li>
    <li><a routerLink="/user/withdrawal"><span class="uk-margin-small-right" uk-icon="icon: minus-circle"></span> {{"withdrawal" | translate}}</a></li>
    <li class="uk-nav-divider"></li>
    <li><a routerLink="/welcome/sign-out"><span class="uk-margin-small-right" uk-icon="icon: sign-out"></span> {{"sign-out" | translate}}</a></li>
</ul>