<div class="ice-user-header-mobile">
    <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
            <img src=".././../../img/tmp/user-250/1.jpg">
        </div>
        <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom">ISMAEL FAGUNDES DA SILVA</h3>
            <p class="uk-text-meta uk-margin-remove-top">Sinta se avontade de compartilhar suas ideias comigo</p>
        </div>
    </div>
</div>


<div [froalaEditor]="froalaMainOptions" [(froalaModel)]="froalaMessage"></div>

<div class="uk-width-1-1 uk-margin-small-top">
    <label><input class="uk-checkbox" [(ngModel)]="isPrivate" type="checkbox"> {{'message-private' | translate}}</label>
    <div class="uk-align-right">
        <button (click)="postMessage()" class="uk-button uk-button-primary">{{'send' | translate}}</button>
    </div>
    <div class="uk-clearfix"></div>
</div>

<hr class="uk-divider-icon">


<article class="uk-comment uk-margin-medium-bottom" *ngFor="let message of messages; let idx = index">
    <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
            <img class="uk-comment-avatar ice-user-message-img" [src]="message.from.image" alt="">
        </div>
        <div class="uk-width-expand">
            <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{message.from.getFullName()}}</a></h4>
            <div class="uk-width-1-1">
                <div class="uk-align-left ice-no-margin-bottom">
                    12 days ago
                </div>
                <div class="uk-align-right ice-no-margin-bottom">
                    <i class="fa fa-reply ice-i" aria-hidden="true"></i>
                    <i class="fa fa-trash ice-i" (click)="deleteMessage(message, idx)" aria-hidden="true"></i>
                </div>
                <div class="uk-clearfix"></div>
            </div>
        </div>
    </header>
    <div class="uk-comment-body" [innerHTML]="message.message | message | safeHtml"></div>
    <hr>
</article>
<div class="uk-text-center"><i class="fa fa-angle-double-down" aria-hidden="true"></i> CARREGAR MAIS <i class="fa fa-angle-double-down" aria-hidden="true"></i></div>
