<div class="uk-text-center">
    <div class="ice-user-profile-img uk-overlay-hover uk-border-circle">
        <figure class="ice-profile-overlay">
            <img class="uk-border-circle" src=".././../../img/tmp/user-250/1.jpg" alt="">
            <figcaption class="uk-overlay-panel uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center uk-border-circle">
                <div>
                    <a href="#" uk-icon="icon: push" class="uk-icon-button"></a>
                </div>
            </figcaption>
        </figure>
    </div>
    <p class="uk-text-uppercase uk-margin-top-remove uk-text-muted">ISMAEL FAGUNDES DA SILVA</p>
</div>


